{% extends "layouts/base.html" %}
{% load book_extras %}
{% block title %} Management {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">用户信息</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5> 用户数量 {{count_total}}</h5>
                            </div>

                            {% show_messages %}

                            <div class="card-block">
                                <div class='row'>
                                    <div class="col-8">
                                        <b>Sort By : - </b>
                                        <a href="{% url 'user_info' %}?search={{search}}&orderby=id">Id</a>  |
                                        <a href="{% url 'user_info' %}?search={{ search }}&orderby=username">账户名</a> |
{#                                        <a href="{% url 'user_info' %}?search={{ search }}&orderby=phone"></a> |#}
{#                                        <a href="{% url 'user_info' %}?search={{ search }}&orderby=phone">Quantity</a>#}
                                    </div>
   
                                    <div class="col-4">
                                        <form class="form-inline mb-2">
                                            <div class="form-group mx-sm-3 mb-2">
                                                <input type="text"
                                                       class="form-control"
                                                       name="search",
                                                       id='search',
                                                       placeholder="ID/账户名",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 btn-sm" style="margin-left: 145px">查询</button>

                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>账户名</th>
                                                <th>密码</th>
                                                <th>性别</th>
                                                <th>地址</th>
                                                <th>邮箱</th>
                                                <th>联系电话</th>
{#                                                <th>管理员权限</th>#}
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for book in books %}
                                            <tr>
                                                <th scope="row">{{book.id}}</th>
                                                <td>{{book.username}}</td>
                                                <td>{{book.password}}</td>
                                                <td>{{book.gender}}</td>
{#                                                <!-- <td>{{book.updated|date:"Y/m/d H:i" }}</td> -->#}
                                                <td>{{book.addr}}</td>
                                                <td>{{book.email}}</td>
                                                <td>{{book.phone}}</td>
{#                                                <td>{{book.floor_number}}{{book.bookshelf_number}}</td>#}
{#                                                <td>{{book.admin}}  </td>#}
                                                <td>                                
{#                                                    <a href="{% url 'book_detail' book.id%}" class="badge badge-warning"><i class="feather icon-eye"></i></a>#}
                                                    <a href="{% url 'user_update' book.id%}" class="badge badge-info"><i class="feather icon-edit"></i>&nbsp;修改</a>&nbsp;
                                                    <a href="{% url 'user_delete' book.id%}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;删除</a>&nbsp;
                                                </td>

                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-4'>
                                        <a href="{% url 'user_create' %}" class='btn btn-primary'>增加用户</a>
                                    </div>
                                    <div class='col-8'>
                                        {% show_pagination %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
